{
  "address": {
    "eth": "xxx",
    "etc": "xxx",
    "sia": "xxx",
    "zec": "xxx",
    "xmr": "xxx",
    "pasc": "xxx"
  },
  "api": {
    "eth": "https://api.nanopool.org/v1/eth/user/:address",
    "etc": "https://api.nanopool.org/v1/etc/user/:address",
    "sia": "https://api.nanopool.org/v1/sia/user/:address",
    "zec": "https://api.nanopool.org/v1/zec/user/:address",
    "xmr": "https://api.nanopool.org/v1/xmr/user/:address",
    "pasc": "https://api.nanopool.org/v1/pasc/user/:address"
  }
}